{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container-fluid">

        <div class="row">
        <div class="col-lg-3 vcenter">
            <img src="img/largeTree.svg" id="largeTreeAbout">
        </div><!--
            --><div class="col-lg-8 text-center vcenter" id="aboutText">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.about.buttonText }}
                    <a href="#contact" class="btn btn-default btn-xl page-scroll">{{ . }}</a>
                {{ end }}
            </div>
        </div>

    </div>
</section>
