{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary no-padding" id="about">
    <div class="container-fluid">

        <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-3 vcenter" id="largeTreeAboutCol">
            <img src="img/largeTree.svg" id="largeTreeAbout">
        </div><!--
            --><div class="col-lg-8 col-sm-8 col-xs-9 text-center vcenter" id="aboutText">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <span class="text-faded" style="display:inline-block;" id="spanP">{{ . | markdownify }}</span>
                {{ end }}
                {{ with .Site.Params.about.descriptionShowMore }}
                    <p class="text-faded collapse" data-toggle="collapse" id="aboutShowMore">{{ . | markdownify }}</p>
                {{ end }}
                <a data-target="#aboutShowMore"
                    class="btn"
                    data-toggle="collapse"
                    aria-expanded="false"
                    aria-controls="aboutShowMore"
                     >

                <span class="text-faded collapsed">Show More </span>
                <span class="text-faded expanded">Show less </span>
                <span style="display:inline-block;" class="aboutShowMoreChevron">▼</span>
            
            </a>
            <p>
            <div>
                {{ with .Site.Params.about.buttonText }}
                    <a href="#contact" class="btn btn-default btn-xl page-scroll">{{ . }}</a>
                {{ end }}
            </div>
            </div>
        </div>

    </div>
</section>
