<section id="photos" class=" bg-dark">
<div style="position: sticky; top:100px;">    
        <img src="img/mediumTree.svg" id="mediumTreePhotos">
        <img src="img/wordTreeLessLetters.svg" id="wordTreeLessLettersPhotos">

</div>
        <!--gallery currently initialised in gallery1.md-->
        {{.Content}}
            {{with .Site.GetPage "/posts/gallery1.md"}}
        {{.Content}}
        {{end}}

        {{.Content}}
            {{with .Site.GetPage "/posts/gallery2.md"}}
        {{.Content}}
        {{end}}

        {{.Content}}
            {{with .Site.GetPage "/posts/gallery3.md"}}
        {{.Content}}
        {{end}}
</section>