<section id="photos" class="no-padding bg-dark">
        {{.Content}}
            {{with .Site.GetPage "/posts/gallery1.md"}}
        {{.Content}}
        {{end}}

        {{.Content}}
            {{with .Site.GetPage "/posts/gallery2.md"}}
        {{.Content}}
        {{end}}

        {{.Content}}
            {{with .Site.GetPage "/posts/gallery3.md"}}
        {{.Content}}
        {{end}}

        {{.Content}}
            {{with .Site.GetPage "/posts/gallery.md"}}
        {{.Content}}
        {{end}}
</section>